.tech-item {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: $tech-element-height;
  margin: 20px;
  position: relative;
  width: $tech-element-width;
  &::before  {
    border: 2px solid $green;
    border-radius: 5px;
    content: '';
    height: $tech-element-height;
    left: -10px;
    position: absolute;
    top: -10px;
    transition: left 0.5s ease;
    transition: top 0.5s ease;
    width: $tech-element-width;
    z-index: -1;
  }
  &:hover::before {
    left: 10px;
    top: 10px;
  }
}
.tech-desc {
  font-size: $text-small;
  padding: 0 10px;
  text-align: center;

}
.tech-img {
  height: $tech-logo-size;
  margin: 20px;
  width: $tech-logo-size;
}
.tech-release {
  font-weight: bold;
  margin-bottom: 20px;
}
.tech-title {
  font-size: $text-medium;
  margin-bottom: 20px;
}
.tech-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
}
.tech-layout {
  display: flex;
  flex-direction: column;
  margin: 100px auto; 
  max-width: 1000px; 
  width: 100%;
}
