@import '~src/styles/colors';

.container-detail {
  align-items: center;
  background-color: $white;
  box-shadow: 5px 5px 5px 0 $grey;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 140px auto;
  max-width: 750px;
  padding: 140px;
  width: 100%;
}

.book-image {
  background-color: $light-gray;
  height: 160px;
}

.book-desc {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  padding: 20px;
  width: 100%;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 15px;
    font-weight: bold;
  }
  
}
