<div class="container-detail" *ngIf="(book | async)">
    <img class="book-image"  [src]="(book | async)?.image_url" />
  <div class="book-desc" >
    <h1 class="title">{{(book |async)?.title}} <span class="book-data">({{(book | async)?.genre}})</span></h1>
    <h3 class="subtitle" i18n>Book author: <span class="book-data">{{(book | async)?.author}}</span></h3>
    <h3 class="subtitle" i18n>Publisher: <span class="book-data">{{book.publisher}}</span></h3>
    <h3 class="subtitle" i18n>Year: <span class="book-data">{{(book | async)?.year}}</span></h3>
  </div>
</div>
