@import '~src/styles/colors';

.book-container {
  align-items: center;
  background-color: $light-gray;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
  padding: 140px;
}

.book-card {
  background-color: $white;
  box-shadow: 5px 5px 5px 0 $grey;
  display: flex;
  flex-direction: column;
  max-width: 220px;
  padding: 20px;
  width: 100%;

  .book-image {
    background-color: $light-gray;
    height: 160px;
    margin-bottom: 20px;
  }
  .book-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .book-autor {
    color: $dark-gray;
    font-size: 12px;
  }
}
