<div class="container">
  <form [formGroup]="nForm" (ngSubmit)="addregister(nForm.value)">
  <div class="form-signup">
    <img class="logo" [src]="imagenLogo"/>
    <h1 class="title">BOOKS</h1>
    <label class="labelform" for="firstNameInput">First name</label>
    <input class="inputForm" type="text" id="firstNameInput" formControlName="firstName" />
    <label class="labelform" for="lastNameInput">Last name</label>
    <input class="inputForm" type="text" id="lastNameInput" formControlName="lastName" />
    <label class="labelform" for="emailInput">Email</label>
    <input class="inputForm" type="email" id="emailInput"  formControlName="email" />
    <label class="labelform" for="passworInput">Password</label>
    <input class="inputForm" type="password" id="passworInput" formControlName="password" />
    <button class="btn btn-signup" type="submit" [disabled]="!nForm.valid">Sign up</button>
  </div>
</form>
<div class="inputFormLogin">  
    <button class="btn btn-login" type="submit">Login</button>
</div>
</div>
